<section class="py-5">
    <div class="contact   py-5">
<div class="title d-flex align-items-center align-items-center flex-column ">
   <h2 class="text-center">CONTACT US</h2>
   <div class="d-flex align-items-center align-items-center text-center">
    <app-lineblack></app-lineblack>
</div>
</div>

        <form >
           <div class="name mb-5">
        <label [style]=" !isEmpty[0] ? 'transform : translateY(0)' : 'transform : translateY(30px)'" for="userName">userName:</label>
                    <input (keyup)="showLable($event)" id="userName" class="form-control" type="text"  name="name" />
           
         </div>

         <div class="age mb-5">
            <label [style]=" !isEmpty[1] ? 'transform : translateY(0)' : 'transform : translateY(30px)'" for="userAge">userAge:</label>
            <input (keyup)="showLable($event)" class="form-control" type="number" id="userAge" name="age" />
         </div>

           <div class="email mb-5">
            <label [style]=" !isEmpty[2] ? 'transform : translateY(0)' : 'transform : translateY(30px)'" for="userEmail">userEmail:</label>
            <input (keyup)="showLable($event)" class="form-control" type="email" id="userEmail" name="email" />
           </div>

     <div class="password mb-5">
      <label [style]=" !isEmpty[3] ? 'transform : translateY(0)' : 'transform : translateY(30px)'" for="userPassword">userPassword:</label>
      <input (keyup)="showLable($event)" class="form-control" type="password" id="userPassword"  name="password" />
     </div>

<button class="btn btn-pink">Message</button>
        </form>
    </div>
</section>