<section class="py-5">
    <div class="container py-5 setting">
        <div class="row">
            <div class="col-md-2 backg text-center">
                <h3 class="fs-3 text-light">SETTING</h3>
                <!-- <ul>
                    <li><a routerLink="web">web</a></li>
                    <li><a routerLink="mobile">mobile</a></li>
                </ul> -->
            </div>
            <div class="col-md-10 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>