img {
  border-radius: 20px;
}
.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.item .layer {
  position: absolute;
  background-color: rgba(250, 7, 116, 0.749);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 20px;
  transition: opacity 1s;
}
.item i {
  font-size: 60px;
  color: white;
}
.item:hover .layer {
  opacity: 1;
}
.btn:hover{
  background-color: transparent;
  border: transparent;
}
.btn{
  background-color: transparent;
  border: transparent;
}
