<section class="py-5">
    <div class="container py-5">

        <div class="title d-flex align-items-center align-items-center flex-column ">
            <h2 class="text-center">PORTFOLIO COMPONENT</h2>
            <div class="d-flex align-items-center align-items-center text-center">
                <app-lineblack></app-lineblack>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 mb-3 col-lg-4">
                <div class="item">
                    <img class="w-100" src="assets/img/port1.png" />
                    <div class="layer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 col-lg-4">
                <div class="item">
                    <img class="w-100" src="assets/img/port2.png" />
                    <div class="layer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 col-lg-4">
                <div class="item">
                    <img class="w-100" src="assets/img/port3.png" />
                    <div class="layer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop3">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 col-lg-4">
                <div class="item">
                    <img class="w-100" src="assets/img/port1.png" />
                    <div class="layer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 col-lg-4">
                <div class="item">
                    <img class="w-100" src="assets/img/port2.png" />
                    <div class="layer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 col-lg-4">
                <div class="item">
                    <img class="w-100" src="assets/img/port3.png" />
                    <div class="layer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop3">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <img class="w-100" src="assets/img/port1.png" />

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <img class="w-100" src="assets/img/port2.png" />

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <img class="w-100" src="assets/img/port3.png" />

        </div>

    </div>
</div>
</div>
</section>